<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
    <h1>Benutzer--Verwaltung</h1>

    <h:form>
        <p:dataTable var="user" value="#{benutzerVerwaltungBean.users}">
            <p:column headerText="Benutzer">
                <h:outputText value="#{user.username}"/>
            </p:column>

            <p:column headerText="Email">
                <h:outputText value="#{user.email}"/>
            </p:column>

        </p:dataTable>
    </h:form>

</h:body>
</html>