<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions" xmlns:sec="http://www.springframework.org/security/tags">
<f:view contentType="text/html">
    <h:head>
        <title>.:: Index ::.</title>
        <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
        <link href="#{resource['images/favicon.ico']}" rel="shortcut icon"/>
        <h:outputStylesheet library="css" name="starter.css"/>
    </h:head>
    <h:body>



        <pe:layout fullPage="true">
            <pe:layoutPane position="center">
                <h:form prependId="false">
                    <h1>Moderator Seite</h1>
                    <p:link value="User-Seite" outcome="user.xhtml" ajax="false"/><br/>

                    <sec:authorize access="hasRole('ROLE_MODERATOR_LESEN')">
                        <p:link value="Moderator-Seite" outcome="moderator.xhtml" ajax="false"/><br/>
                    </sec:authorize>

                    <p:link value="Administrator-Seite" outcome="administrator.xhtml"
                            ajax="false"/><br/>

                    <sec:authorize access="hasRole('ROLE_BENUTZERVERWALTUNG_LESEN')">
                        <p:link value="Benutzer-Verwaltung"
                                outcome="/useradministration/administration.xhtml"
                                ajax="false"/><br/>
                    </sec:authorize>

                </h:form>
                <h:form onsubmit="this.action='#{request.contextPath}/logout';"
                        class="logout-form" style="margin-top: 50px">
                    <p:commandButton value="Logout" ajax="false" />
                </h:form>
            </pe:layoutPane>
        </pe:layout>
    </h:body>
</f:view>
</html>